
@media (max-width:575px){
    
.cus-w{
  width:90%!important;   
}
.logo{
  width: 100px;
  height: 100px;
}
.findtext{
font-size: 24px;
}
main{
  padding:0 11px;
}
.cus-card .card-body{
  padding-top:.8rem!important;
}
}